{
  "openapi": "3.0.1",
  "info": {
    "title": "Fatorly Integration",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://integration.fatorly.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/credit-notes": {
      "post": {
        "tags": [
          "CreditNotes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/credit-notes/{id}/submit": {
      "post": {
        "tags": [
          "CreditNotes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "counterparty",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices/{id}/submit": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices/{id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices/{id}/ubl": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices/{id}/cancel": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Items"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/items/{id}": {
      "get": {
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/vendors": {
      "get": {
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Vendors"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/vendors/{id}": {
      "get": {
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateWebhookRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateWebhookRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/_whoami": {
      "get": {
        "tags": [
          "WhoAmi"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "V1AdditionalDocument": {
        "required": [
          "documentId"
        ],
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "documentTypeCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "description": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "externalUri": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "embeddedBase64": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "mimeCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "fileName": {
            "type": "string",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1Address": {
        "required": [
          "line1",
          "city",
          "countryCode"
        ],
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "nullable": true
          },
          "line2": {
            "type": "string",
            "description": "Second address line (BT-51 / building number, suite, floor).",
            "default": null,
            "nullable": true
          },
          "countrySubentity": {
            "type": "string",
            "description": "State, emirate, or province code (BT-54 / cbc:CountrySubentity).",
            "default": null,
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "description": "Postal / ZIP code (BT-53 / cbc:PostalZone).",
            "default": null,
            "nullable": true
          }
        },
        "nullable": true
      },
      "V1AllowanceCharge": {
        "required": [
          "isCharge",
          "amount"
        ],
        "type": "object",
        "properties": {
          "isCharge": {
            "type": "boolean"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "reasonCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "reason": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "baseAmount": {
            "type": "number",
            "format": "double",
            "default": null,
            "nullable": true
          },
          "multiplierPercent": {
            "type": "number",
            "format": "double",
            "default": null,
            "nullable": true
          },
          "vatCategory": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "vatRate": {
            "type": "number",
            "format": "double",
            "default": null,
            "nullable": true
          },
          "exemptionReasonCode": {
            "type": "string",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1CreateInvoiceRequest": {
        "required": [
          "documentType",
          "invoiceNumber",
          "issueDate",
          "dueDate",
          "currency",
          "seller",
          "buyer",
          "lines",
          "references",
          "notes",
          "precedingInvoiceNumber"
        ],
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string"
          },
          "invoiceNumber": {
            "type": "string",
            "nullable": true
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "seller": {
            "$ref": "#/components/schemas/V1Party"
          },
          "buyer": {
            "$ref": "#/components/schemas/V1Party"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1InvoiceLine"
            }
          },
          "references": {
            "$ref": "#/components/schemas/V1References"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "precedingInvoiceNumber": {
            "type": "string",
            "nullable": true
          },
          "taxTotal": {
            "$ref": "#/components/schemas/V1TaxTotal"
          },
          "legalMonetaryTotal": {
            "$ref": "#/components/schemas/V1LegalMonetaryTotal"
          },
          "allowancesCharges": {
            "type": "array",
            "items": {},
            "default": null,
            "nullable": true
          },
          "additionalDocuments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1AdditionalDocument"
            },
            "default": null,
            "nullable": true
          },
          "delivery": {
            "$ref": "#/components/schemas/V1Delivery"
          },
          "transactionType": {
            "$ref": "#/components/schemas/V1TransactionType"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "Beneficiary ID (BTAE-01). Required by the platform when transactionType.freeTradeZone is true.",
            "default": null,
            "nullable": true
          },
          "principalId": {
            "type": "string",
            "description": "Principal / Disclosed-Agent ID (BTAE-14). Required when transactionType.disclosedAgentBilling is true.",
            "default": null,
            "nullable": true
          },
          "billingFrequencyCode": {
            "type": "string",
            "description": "Billing frequency code (IBT-020). Required for summaryInvoice and continuousSupply transaction types.",
            "default": null,
            "nullable": true
          },
          "taxCurrencyCode": {
            "type": "string",
            "description": "Tax currency code (ibr-140-ae). Always \"AED\" when invoice currency differs from AED.",
            "default": null,
            "nullable": true
          },
          "currencyExchangeRate": {
            "type": "number",
            "format": "double",
            "description": "Exchange rate: AED per 1 unit of the invoice currency (BTAE-04 / ibr-159-ae). Required when currency is not AED. Maximum 6 decimal places.",
            "default": null,
            "nullable": true
          },
          "paymentMode": {
            "type": "string",
            "description": "Payment means type code (BT-81 / cbc:PaymentMeansCode), e.g. \"10\" cash, \"30\" credit transfer, \"48\" card.",
            "default": null,
            "nullable": true
          },
          "paymentTerms": {
            "type": "string",
            "description": "Free-text payment terms note (BT-20 / cbc:Note under cac:PaymentTerms).",
            "default": null,
            "nullable": true
          },
          "paymentBankAccount": {
            "type": "string",
            "description": "Bank account identifier for payment (cbc:ID under cac:FinancialAccount), e.g. IBAN.",
            "default": null,
            "nullable": true
          },
          "vatPointDate": {
            "type": "string",
            "format": "date",
            "description": "VAT point date (BT-7 / ibr-141-ae). Must be before issueDate; not allowed on credit notes.",
            "default": null,
            "nullable": true
          },
          "billingPeriodStart": {
            "type": "string",
            "format": "date",
            "description": "Start of the billing period (IBG-14 / ibr-138-ae). Required when transactionType.summaryInvoice is true.",
            "default": null,
            "nullable": true
          },
          "billingPeriodEnd": {
            "type": "string",
            "format": "date",
            "description": "End of the billing period (IBG-14). Required when transactionType.summaryInvoice is true.",
            "default": null,
            "nullable": true
          },
          "precedingInvoiceIssueDate": {
            "type": "string",
            "format": "date",
            "description": "Issue date of the original invoice being credited (BT-26). Used on credit notes.",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1CreateWebhookRequest": {
        "required": [
          "targetUrl",
          "eventTypes"
        ],
        "type": "object",
        "properties": {
          "targetUrl": {
            "type": "string"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "V1CustomerWrite": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "nameAr": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "email": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "phone": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "vatTrn": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "address": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "city": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "country": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "contactPerson": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "participantId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "postalCode": {
            "type": "string",
            "description": "Postal / ZIP code for the customer's address.",
            "default": null,
            "nullable": true
          },
          "addressLine2": {
            "type": "string",
            "description": "Second line of the customer's address (building number, suite, floor).",
            "default": null,
            "nullable": true
          },
          "stateProvince": {
            "type": "string",
            "description": "State, emirate, or province of the customer.",
            "default": null,
            "nullable": true
          },
          "companyRegistrationNumber": {
            "type": "string",
            "description": "Company registration number (e.g. trade licence number) for the customer.",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1Delivery": {
        "type": "object",
        "properties": {
          "actualDeliveryDate": {
            "type": "string",
            "format": "date",
            "default": null,
            "nullable": true
          },
          "streetName": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "city": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "countrySubentity": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "addressLine": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "incoterms": {
            "type": "string",
            "default": null,
            "nullable": true
          }
        },
        "default": null,
        "nullable": true
      },
      "V1InvoiceLine": {
        "required": [
          "id",
          "description",
          "quantity",
          "unitCode",
          "unitPrice",
          "lineExtensionAmount",
          "vatCategory",
          "vatRate"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "number",
            "format": "double"
          },
          "unitCode": {
            "type": "string",
            "nullable": true
          },
          "unitPrice": {
            "type": "number",
            "format": "double"
          },
          "lineExtensionAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "vatCategory": {
            "type": "string",
            "nullable": true
          },
          "vatRate": {
            "type": "number",
            "format": "double"
          },
          "exemptionReasonCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "allowancesCharges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1AllowanceCharge"
            },
            "default": null,
            "nullable": true
          },
          "buyersItemId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "sellersItemId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "standardItemId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "standardItemSchemeId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "classifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1ItemClassification"
            },
            "default": null,
            "nullable": true
          },
          "itemTypeCode": {
            "type": "string",
            "description": "Item type code (BTAE-13): \"G\" Goods, \"S\" Services, \"B\" Both. Emitted as cac:CommodityClassification/cbc:CommodityCode.",
            "default": null,
            "nullable": true
          },
          "serviceAccountingCode": {
            "type": "string",
            "description": "Service accounting code (BTAE-17 / ibr-185-ae). Required when itemTypeCode is \"S\" or \"B\". Emitted as cac:AdditionalItemIdentification/cbc:ID[@schemeID=\"SAC\"].",
            "default": null,
            "nullable": true
          },
          "goodsNatureCode": {
            "type": "string",
            "description": "Goods/services nature code (BTAE-09 / ibr-006-ae). Required when line VAT category is \"AE\" (Reverse Charge). Must be from the GoodsType codelist.",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1ItemClassification": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "listId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "listVersion": {
            "type": "string",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1ItemWrite": {
        "required": [
          "code",
          "name"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nameAr": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "description": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "unitOfMeasure": {
            "type": "string",
            "default": "EA",
            "nullable": true
          },
          "unitPrice": {
            "type": "number",
            "format": "double",
            "default": 0
          },
          "isActive": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "V1LegalMonetaryTotal": {
        "required": [
          "lineExtensionAmount",
          "taxExclusiveAmount",
          "taxInclusiveAmount",
          "payableAmount"
        ],
        "type": "object",
        "properties": {
          "lineExtensionAmount": {
            "type": "number",
            "format": "double"
          },
          "taxExclusiveAmount": {
            "type": "number",
            "format": "double"
          },
          "taxInclusiveAmount": {
            "type": "number",
            "format": "double"
          },
          "payableAmount": {
            "type": "number",
            "format": "double"
          }
        },
        "default": null,
        "nullable": true
      },
      "V1Party": {
        "required": [
          "name",
          "trn",
          "participantId",
          "address"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "trn": {
            "type": "string",
            "nullable": true
          },
          "participantId": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/V1Address"
          },
          "contactPhone": {
            "type": "string",
            "description": "Party contact telephone number (cbc:Telephone under cac:Contact).",
            "default": null,
            "nullable": true
          },
          "contactEmail": {
            "type": "string",
            "description": "Party contact email address (cbc:ElectronicMail under cac:Contact).",
            "default": null,
            "nullable": true
          },
          "contactName": {
            "type": "string",
            "description": "Party contact person name (cbc:Name under cac:Contact).",
            "default": null,
            "nullable": true
          },
          "legalRegistrationNumber": {
            "type": "string",
            "description": "Company legal registration number (cbc:CompanyID under cac:PartyLegalEntity).",
            "default": null,
            "nullable": true
          },
          "legalRegistrationType": {
            "type": "string",
            "description": "Scheme or type of the legal registration number (e.g. \"CRN\", \"TIN\").",
            "default": null,
            "nullable": true
          },
          "authorityName": {
            "type": "string",
            "description": "Name of the authority that issued the legal registration (cbc:RegistrationName under cac:PartyLegalEntity).",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1References": {
        "required": [
          "purchaseOrderId",
          "contractId"
        ],
        "type": "object",
        "properties": {
          "purchaseOrderId": {
            "type": "string",
            "nullable": true
          },
          "contractId": {
            "type": "string",
            "nullable": true
          },
          "salesOrderId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "projectId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "despatchId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "receiptId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "buyerReference": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "purchaseOrderSchemeId": {
            "type": "string",
            "description": "Scheme ID for the purchase order reference (e.g. \"0088\" for EAN).",
            "default": null,
            "nullable": true
          },
          "contractSchemeId": {
            "type": "string",
            "description": "Scheme ID for the contract reference.",
            "default": null,
            "nullable": true
          },
          "salesOrderSchemeId": {
            "type": "string",
            "description": "Scheme ID for the sales order reference.",
            "default": null,
            "nullable": true
          },
          "projectSchemeId": {
            "type": "string",
            "description": "Scheme ID for the project reference.",
            "default": null,
            "nullable": true
          },
          "despatchSchemeId": {
            "type": "string",
            "description": "Scheme ID for the despatch advice reference.",
            "default": null,
            "nullable": true
          },
          "receiptSchemeId": {
            "type": "string",
            "description": "Scheme ID for the receipt advice reference.",
            "default": null,
            "nullable": true
          }
        },
        "nullable": true
      },
      "V1TaxTotal": {
        "required": [
          "taxAmount"
        ],
        "type": "object",
        "properties": {
          "taxAmount": {
            "type": "number",
            "format": "double"
          }
        },
        "default": null,
        "nullable": true
      },
      "V1TransactionType": {
        "type": "object",
        "description": "UAE transaction-type flags (BTAE-02 / ProfileExecutionID). Each boolean maps to one bit in the 8-character binary string emitted by the platform. Omit the object entirely (or pass all false) for a standard invoice (\"00000000\").",
        "properties": {
          "freeTradeZone": {
            "type": "boolean",
            "description": "Bit 1 — Free Trade Zone supply.",
            "default": false
          },
          "deemedSupply": {
            "type": "boolean",
            "description": "Bit 2 — Deemed supply.",
            "default": false
          },
          "profitMargin": {
            "type": "boolean",
            "description": "Bit 3 — Profit margin scheme.",
            "default": false
          },
          "summaryInvoice": {
            "type": "boolean",
            "description": "Bit 4 — Summary invoice covering a billing period. Requires billingPeriodStart and billingPeriodEnd.",
            "default": false
          },
          "continuousSupply": {
            "type": "boolean",
            "description": "Bit 5 — Continuous supply. Requires billingFrequencyCode.",
            "default": false
          },
          "disclosedAgentBilling": {
            "type": "boolean",
            "description": "Bit 6 — Disclosed agent billing. Requires principalId.",
            "default": false
          },
          "ecommerce": {
            "type": "boolean",
            "description": "Bit 7 — E-commerce supply.",
            "default": false
          },
          "exports": {
            "type": "boolean",
            "description": "Bit 8 — Export supply.",
            "default": false
          }
        },
        "default": null,
        "nullable": true
      },
      "V1VendorWrite": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "nameAr": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "email": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "phone": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "vatTrn": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "address": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "city": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "country": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "contactPerson": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "participantId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "postalCode": {
            "type": "string",
            "description": "Postal / ZIP code for the vendor's address.",
            "default": null,
            "nullable": true
          },
          "addressLine2": {
            "type": "string",
            "description": "Second line of the vendor's address (building number, suite, floor).",
            "default": null,
            "nullable": true
          },
          "stateProvince": {
            "type": "string",
            "description": "State, emirate, or province of the vendor.",
            "default": null,
            "nullable": true
          },
          "companyRegistrationNumber": {
            "type": "string",
            "description": "Company registration number (e.g. trade licence number) for the vendor.",
            "default": null,
            "nullable": true
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "description": "Your fat_… integration key. Create one in Settings → Integrations → API Keys.",
        "name": "X-Api-Key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "CreditNotes"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Items"
    },
    {
      "name": "Vendors"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "WhoAmi"
    }
  ]
}