{
  "openapi": "3.0.1",
  "info": {
    "title": "Fatorly Integration",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://integration.fatorly.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/credit-notes": {
      "post": {
        "tags": [
          "CreditNotes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/credit-notes/{id}/submit": {
      "post": {
        "tags": [
          "CreditNotes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CustomerWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateInvoiceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "counterparty",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices/{id}/submit": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices/{id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices/{id}/ubl": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/invoices/{id}/cancel": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Items"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/items/{id}": {
      "get": {
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1ItemWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/vendors": {
      "get": {
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Vendors"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/vendors/{id}": {
      "get": {
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1VendorWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateWebhookRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateWebhookRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/_whoami": {
      "get": {
        "tags": [
          "WhoAmi"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "V1AdditionalDocument": {
        "required": [
          "documentId"
        ],
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "documentTypeCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "description": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "externalUri": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "embeddedBase64": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "mimeCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "fileName": {
            "type": "string",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1Address": {
        "required": [
          "line1",
          "city",
          "countryCode"
        ],
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "V1AllowanceCharge": {
        "required": [
          "isCharge",
          "amount"
        ],
        "type": "object",
        "properties": {
          "isCharge": {
            "type": "boolean"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "reasonCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "reason": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "baseAmount": {
            "type": "number",
            "format": "double",
            "default": null,
            "nullable": true
          },
          "multiplierPercent": {
            "type": "number",
            "format": "double",
            "default": null,
            "nullable": true
          },
          "vatCategory": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "vatRate": {
            "type": "number",
            "format": "double",
            "default": null,
            "nullable": true
          },
          "exemptionReasonCode": {
            "type": "string",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1CreateInvoiceRequest": {
        "required": [
          "documentType",
          "invoiceNumber",
          "issueDate",
          "dueDate",
          "currency",
          "seller",
          "buyer",
          "lines",
          "references",
          "notes",
          "precedingInvoiceNumber"
        ],
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string"
          },
          "invoiceNumber": {
            "type": "string",
            "nullable": true
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "seller": {
            "$ref": "#/components/schemas/V1Party"
          },
          "buyer": {
            "$ref": "#/components/schemas/V1Party"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1InvoiceLine"
            }
          },
          "references": {
            "$ref": "#/components/schemas/V1References"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "precedingInvoiceNumber": {
            "type": "string",
            "nullable": true
          },
          "taxTotal": {
            "$ref": "#/components/schemas/V1TaxTotal"
          },
          "legalMonetaryTotal": {
            "$ref": "#/components/schemas/V1LegalMonetaryTotal"
          },
          "allowancesCharges": {
            "type": "array",
            "items": {},
            "default": null,
            "nullable": true
          },
          "additionalDocuments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1AdditionalDocument"
            },
            "default": null,
            "nullable": true
          },
          "delivery": {
            "$ref": "#/components/schemas/V1Delivery"
          }
        }
      },
      "V1CreateWebhookRequest": {
        "required": [
          "targetUrl",
          "eventTypes"
        ],
        "type": "object",
        "properties": {
          "targetUrl": {
            "type": "string"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "V1CustomerWrite": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "nameAr": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "email": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "phone": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "vatTrn": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "address": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "city": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "country": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "contactPerson": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "participantId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "isActive": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "V1Delivery": {
        "type": "object",
        "properties": {
          "actualDeliveryDate": {
            "type": "string",
            "format": "date",
            "default": null,
            "nullable": true
          },
          "streetName": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "city": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "countrySubentity": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "addressLine": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "incoterms": {
            "type": "string",
            "default": null,
            "nullable": true
          }
        },
        "default": null,
        "nullable": true
      },
      "V1InvoiceLine": {
        "required": [
          "id",
          "description",
          "quantity",
          "unitCode",
          "unitPrice",
          "lineExtensionAmount",
          "vatCategory",
          "vatRate"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "number",
            "format": "double"
          },
          "unitCode": {
            "type": "string",
            "nullable": true
          },
          "unitPrice": {
            "type": "number",
            "format": "double"
          },
          "lineExtensionAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "vatCategory": {
            "type": "string",
            "nullable": true
          },
          "vatRate": {
            "type": "number",
            "format": "double"
          },
          "exemptionReasonCode": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "allowancesCharges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1AllowanceCharge"
            },
            "default": null,
            "nullable": true
          },
          "buyersItemId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "sellersItemId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "standardItemId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "standardItemSchemeId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "classifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1ItemClassification"
            },
            "default": null,
            "nullable": true
          }
        }
      },
      "V1ItemClassification": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "listId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "listVersion": {
            "type": "string",
            "default": null,
            "nullable": true
          }
        }
      },
      "V1ItemWrite": {
        "required": [
          "code",
          "name"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nameAr": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "description": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "unitOfMeasure": {
            "type": "string",
            "default": "EA",
            "nullable": true
          },
          "unitPrice": {
            "type": "number",
            "format": "double",
            "default": 0
          },
          "isActive": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "V1LegalMonetaryTotal": {
        "required": [
          "lineExtensionAmount",
          "taxExclusiveAmount",
          "taxInclusiveAmount",
          "payableAmount"
        ],
        "type": "object",
        "properties": {
          "lineExtensionAmount": {
            "type": "number",
            "format": "double"
          },
          "taxExclusiveAmount": {
            "type": "number",
            "format": "double"
          },
          "taxInclusiveAmount": {
            "type": "number",
            "format": "double"
          },
          "payableAmount": {
            "type": "number",
            "format": "double"
          }
        },
        "default": null,
        "nullable": true
      },
      "V1Party": {
        "required": [
          "name",
          "trn",
          "participantId",
          "address"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "trn": {
            "type": "string",
            "nullable": true
          },
          "participantId": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/V1Address"
          }
        }
      },
      "V1References": {
        "required": [
          "purchaseOrderId",
          "contractId"
        ],
        "type": "object",
        "properties": {
          "purchaseOrderId": {
            "type": "string",
            "nullable": true
          },
          "contractId": {
            "type": "string",
            "nullable": true
          },
          "salesOrderId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "projectId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "despatchId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "receiptId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "buyerReference": {
            "type": "string",
            "default": null,
            "nullable": true
          }
        },
        "nullable": true
      },
      "V1TaxTotal": {
        "required": [
          "taxAmount"
        ],
        "type": "object",
        "properties": {
          "taxAmount": {
            "type": "number",
            "format": "double"
          }
        },
        "default": null,
        "nullable": true
      },
      "V1VendorWrite": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "nameAr": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "email": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "phone": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "vatTrn": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "address": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "city": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "country": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "contactPerson": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "participantId": {
            "type": "string",
            "default": null,
            "nullable": true
          },
          "isActive": {
            "type": "boolean",
            "default": true
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "description": "Your fat_… integration key. Create one in Settings → Integrations → API Keys.",
        "name": "X-Api-Key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "CreditNotes"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Items"
    },
    {
      "name": "Vendors"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "WhoAmi"
    }
  ]
}